<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<div class="row row-centered" style="margin-bottom: 30px">
  <div class="col-md-6 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 style="font-weight: bold">Consulta de Valores UF/Dólar</h4>
        <%= render 'date_form' %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div align="center">
        <h3 style="font-weight: bold">VALOR UF</h3>
      </div>
      <div class="row row-centered" style="margin-top: 20px">
        <div class="col-md-6 col-centered">
          <div class="panel panel-default">
            <div class="panel-heading">
              <table class="table table-condensed table-bordered"  style="margin-top: 20px">
                <tbody>
                <tr>
                  <td><b>Valor Promedio: </b></td>
                  <td>CLP$ <%= '%.2f' % (@uf_values.map{|day| day["Valor"].gsub('.','').gsub(',','.').to_d}.reduce(:+) / @uf_values.size) %></td>
                </tr>
                <tr>
                  <td><b>Valor Mínimo: </b></td>
                  <td>CLP$ <%= '%.2f' % @uf_values.map{|day| day["Valor"].gsub('.','').gsub(',','.').to_d}.min %></td>
                </tr>
                <tr>
                  <td><b>Valor Mínimo: </b></td>
                  <td>CLP$ <%= '%.2f' % @uf_values.map{|day| day["Valor"].gsub('.','').gsub(',','.').to_d}.max %></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <% if @uf_values.count > 1 %>
        <%= line_chart @uf_values.map{|day| [day["Fecha"], day["Valor"].gsub('.','').gsub(',','.').to_d]},
            prefix: "CLP$ ", min: nil, xtitle: "Fecha", ytitle: "Valor UF en CLP", points: false %>
      <% end %>
      <table class="table table-striped table-bordered table-condensed"  style="margin-top: 40px">
        <thead>
        <tr>
          <th>Día</th>
          <th>Valor UF (CLP)</th>
        </tr>
        </thead>
        <tbody>
        <% @uf_values.each do |day| %>
          <tr>
            <td><%= day["Fecha"]%></td>
            <td><%= day["Valor"]%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <div align="center">
        <h3 style="font-weight: bold">VALOR DÓLAR</h3>
      </div>
      <div class="row row-centered" style="margin-top: 20px">
        <div class="col-md-6 col-centered">
          <div class="panel panel-default">
            <div class="panel-heading">
              <table class="table table-condensed table-bordered"  style="margin-top: 20px">
                <tbody>
                <tr>
                  <td><b>Valor Promedio: </b></td>
                  <td>CLP$ <%= '%.2f' % (@usd_values.map{|day| day["Valor"].gsub('.','').gsub(',','.').to_d}.reduce(:+) / @usd_values.size) %></td>
                </tr>
                <tr>
                  <td><b>Valor Mínimo: </b></td>
                  <td>CLP$ <%= '%.2f' % @usd_values.map{|day| day["Valor"].gsub('.','').gsub(',','.').to_d}.min %></td>
                </tr>
                <tr>
                  <td><b>Valor Mínimo: </b></td>
                  <td>CLP$ <%= '%.2f' % @usd_values.map{|day| day["Valor"].gsub('.','').gsub(',','.').to_d}.max %></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <% if @usd_values.count > 1 %>
        <%= line_chart @usd_values.map{|day| [day["Fecha"], day["Valor"].gsub('.','').gsub(',','.').to_d]},
            prefix: "CLP$ ", min: nil, xtitle: "Fecha", ytitle: "Valor Dólar en CLP", points: false, colors: ['#32cd32'] %>
      <% end %>
      <table class="table table-striped table-bordered table-condensed"  style="margin-top: 40px">
        <thead>
        <tr>
          <th>Día</th>
          <th>Valor Dólar (CLP)</th>
        </tr>
        </thead>
        <tbody>
        <% @usd_values.each do |day| %>
            <tr>
              <td><%= day["Fecha"]%></td>
              <td><%= day["Valor"]%></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
