<!DOCTYPE html>
<html>
  <head>
    <title>Currency</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-static-top navbar-inverse" style="line-height: 50px;">
      <div class="container-fluid">
        <div>
          <h2 style="color:white">Currency App - SBIF</h2>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
